<app-header title="Recuperar clave" [isModal]="isModal" backButton="auth"></app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form [formGroup]="group" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>
      
      <app-custom-input autocomplete="email" icon="mail-outline" [control]="group.controls.email" type="email"
        label="Correo"></app-custom-input>
      
      
      <!-- Forgot pass -->
      
      <ion-button type="submit" expand="block" mode="ios" class="submit" [disabled]="group.invalid">
        Enviar Enlace
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
      
    </form>
  </div>


</ion-content>